@font-face {
  font-family: 'lightline-lineal';
  src:  url('fonts/lightline-lineal.eot?a7ax4k');
  src:  url('fonts/lightline-lineal.eot?a7ax4k#iefix') format('embedded-opentype'),
    url('fonts/lightline-lineal.ttf?a7ax4k') format('truetype'),
    url('fonts/lightline-lineal.woff?a7ax4k') format('woff'),
    url('fonts/lightline-lineal.svg?a7ax4k#lightline-lineal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ll-icon-"], [class*=" ll-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lightline-lineal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ll-icon-replicate:before {
  content: "\e935";
}
.ll-icon-rooms:before {
  content: "\e936";
}
.ll-icon-deform:before {
  content: "\e934";
}
.ll-icon-floor:before {
  content: "\e901";
}
.ll-icon-circolumn:before {
  content: "\e900";
}
.ll-icon-calculator:before {
  content: "\e902";
}
.ll-icon-ceiling:before {
  content: "\e903";
}
.ll-icon-checkboxoff:before {
  content: "\e904";
}
.ll-icon-checkboxon:before {
  content: "\e905";
}
.ll-icon-door:before {
  content: "\e906";
}
.ll-icon-exit-fullscreen:before {
  content: "\e907";
}
.ll-icon-extrude:before {
  content: "\e908";
}
.ll-icon-eye:before {
  content: "\e909";
}
.ll-icon-eyeoff:before {
  content: "\e90a";
}
.ll-icon-feet:before {
  content: "\e90b";
}
.ll-icon-fullscreen:before {
  content: "\e90c";
}
.ll-icon-furniture:before {
  content: "\e90d";
}
.ll-icon-group:before {
  content: "\e90e";
}
.ll-icon-help:before {
  content: "\e90f";
}
.ll-icon-home:before {
  content: "\e910";
}
.ll-icon-hotspot:before {
  content: "\e911";
}
.ll-icon-import:before {
  content: "\e912";
}
.ll-icon-lock:before {
  content: "\e913";
}
.ll-icon-lockopen:before {
  content: "\e914";
}
.ll-icon-magicwand:before {
  content: "\e915";
}
.ll-icon-measure:before {
  content: "\e916";
}
.ll-icon-meter:before {
  content: "\e917";
}
.ll-icon-newproject:before {
  content: "\e918";
}
.ll-icon-nextpage:before {
  content: "\e919";
}
.ll-icon-options:before {
  content: "\e91a";
}
.ll-icon-pan-down:before {
  content: "\e91b";
}
.ll-icon-panel:before {
  content: "\e91c";
}
.ll-icon-paneloff:before {
  content: "\e91d";
}
.ll-icon-pan-left:before {
  content: "\e91e";
}
.ll-icon-panocam:before {
  content: "\e91f";
}
.ll-icon-pan-right:before {
  content: "\e920";
}
.ll-icon-pan-up:before {
  content: "\e921";
}
.ll-icon-prevpage:before {
  content: "\e922";
}
.ll-icon-rotx-minus:before {
  content: "\e923";
}
.ll-icon-rotx-plus:before {
  content: "\e924";
}
.ll-icon-roty-minus:before {
  content: "\e925";
}
.ll-icon-roty-plus:before {
  content: "\e926";
}
.ll-icon-save:before {
  content: "\e927";
}
.ll-icon-select:before {
  content: "\e928";
}
.ll-icon-settings:before {
  content: "\e929";
}
.ll-icon-share:before {
  content: "\e92a";
}
.ll-icon-suite:before {
  content: "\e92b";
}
.ll-icon-three-d:before {
  content: "\e92c";
}
.ll-icon-trash:before {
  content: "\e92d";
}
.ll-icon-two-d:before {
  content: "\e92e";
}
.ll-icon-ungroup:before {
  content: "\e92f";
}
.ll-icon-walk-through:before {
  content: "\e930";
}
.ll-icon-wall:before {
  content: "\e931";
}
.ll-icon-zoom-in:before {
  content: "\e932";
}
.ll-icon-zoom-out:before {
  content: "\e933";
}
